{{ define "main" -}}
<div class="posts">
{{ range (.Paginator 10).Pages -}}
<article class="post">
  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h1>
  <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
  {{ .Content }}
</article>
{{- end }}
</div>
{{ template "_internal/pagination.html" . }}
{{- end }}
