<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"{{with .Site.LanguageCode}} xml:lang="{{.}}" lang="{{.}}"{{end}}>
<head>
  <link href="https://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  {{ hugo.Generator }}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-70116365-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-70116365-2');
  </script>

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ if .IsHome -}}
  <title>{{ .Site.Title }}</title>
  {{- else -}}
  <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
  {{- end }}
  <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{ .Summary | truncate 150 }}{{end}}" />

  <!-- CSS -->
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/poole.css">
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/syntax.css">
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/hyde.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  {{ partial "head_fonts.html" . }}

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

  <!-- RSS etc -->
  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link href="%s" rel="%s" type="%s" title="%s" />` .Permalink .Rel .MediaType.Type $.Site.Title | safeHTML }}
  {{ end -}}

  <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Manoj Singh Negi",
        "url": "http://manojsinghnegi.com",
        "sameAs": [
            "http://www.facebook.com/manojsinghnegiwd",
            "https://medium.com/@manojsinghnegi",
            "https://github.com/manojsinghnegiwd",
            "http://instagram.com/justanothermanoj",
            "http://www.linkedin.com/in/manojsinghnegiwd",
            "http://plus.google.com/+Manojsinghnegiwd",
            "http://www.twitter.com/manojnegiwd",
            "https://www.quora.com/profile/Manoj-Singh-Negi-6",
            "https://getpocket.com/@manojsinghnegi"
        ]
    }
    </script>
    <script type="application/ld+json">
      {
          "@context": "http://schema.org",
          "@type": "Organization",
          "url": "http://www.manojsinghnegi.com",
          "logo": "http://www.manojsinghnegi.com/images/logo.jpeg",
          "contactPoint": [{
              "@type": "ContactPoint",
              "telephone": "+91-8264586516",
              "contactType": "customer service"
          }]
      }
      </script>
      <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "Manoj Singh Negi",
            "alternateName": "manojsinghnegiwd",
            "url": "http://www.manojsinghnegi.com"
        }
      </script>

  {{ partial "hook_head_end.html" . }}
</head>
