<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img style="width: 150px;" src="{{ "logo.JPG" | absURL }}" />
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">
        <span>Software Developer.</span>
        <br />
        <span>Co-founder - <a target="_blank" href="https://recraftrelic.com/">Recraft Relic</a></span>
        <br />
        <span><a target="_blank" href="https://www.linkedin.com/in/manojsinghnegiwd/">Message me on linkedin.</a></span>
        <br />
        <br />
        <span><a target="_blank" href="http://eepurl.com/co0DYj">Subscribe to this blog</a></span>
      </p>
      {{ if isset .Site.Params "social" }}
      <p>
      {{ $length := (len .Site.Params.social) }}
      {{ range $index, $elem := .Site.Params.social}}
        <a class="icon" target="_blank" rel="noopener" target="_blank" href="{{ $elem.link }}" style="color:#ffffff;">
          <i class="{{ lower $elem.icon }}"></i>
        </a>
      {{ end }}
      </p>
  {{ end }}
    </div>

    <nav>
      <ul class="sidebar-nav">
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
      </ul>
    </nav>

    <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ now.Format "2006"}}. All rights reserved. {{end}}</p>
  </div>
</aside>
