<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-70116365-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-70116365-2');
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ if .IsPage }} {{ .Title }} | {{ end }}{{ .Site.Title }}</title>
  {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <meta name="googlebot" content="index,follow,snippet,archive">
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  {{ .Scratch.Set "colortheme" "white"}}
  {{ if .Site.Params.Colortheme }}
    {{ .Scratch.Set "colortheme" .Site.Params.Colortheme }}
  {{ end }}
  {{ $colortheme := .Scratch.Get "colortheme" }}
  <link rel="stylesheet" href="{{ $colortheme | printf "css/style-%s.css" | absURL }}">
  <!-- Custom CSS -->
  {{ range .Site.Params.css }} <link rel="stylesheet" href="{{ . | absURL }}"> {{ end }}
  {{ `
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  ` | safeHTML }}

  {{ partial "favicon.html" . }}
  {{ if .Site.Params.rss }}
  {{ with .OutputFormats.Get "RSS" }}
    {{ printf `<link href="%s" rel="%s" type="%s" title="%s" />` .Permalink .Rel .MediaType.Type $.Site.Title | safeHTML }}
  {{ end }}
  {{ end }}
  {{ if .Site.GoogleAnalytics }}
  {{ if .Site.Params.googleAnalyticsAsync }}
    {{ template "_internal/google_analytics_async.html" . }}
  {{ else }}
    {{ template "_internal/google_analytics.html" . }}
  {{ end }}
  {{ end }}
  <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Manoj Singh Negi",
        "url": "http://manojsinghnegi.com",
        "sameAs": [
            "http://www.facebook.com/manojsinghnegiwd",
            "https://medium.com/@manojsinghnegi",
            "https://github.com/manojsinghnegiwd",
            "http://instagram.com/justanothermanoj",
            "http://www.linkedin.com/in/manojsinghnegiwd",
            "http://plus.google.com/+Manojsinghnegiwd",
            "http://www.twitter.com/manojnegiwd",
            "https://www.quora.com/profile/Manoj-Singh-Negi-6",
            "https://getpocket.com/@manojsinghnegi"
        ]
    }
    </script>
    <script type="application/ld+json">
      {
          "@context": "http://schema.org",
          "@type": "Organization",
          "url": "http://www.manojsinghnegi.com",
          "logo": "http://www.manojsinghnegi.com/images/logo.jpeg",
          "contactPoint": [{
              "@type": "ContactPoint",
              "telephone": "+91-8264586516",
              "contactType": "customer service"
          }]
      }
      </script>
      <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "Manoj Singh Negi",
            "alternateName": "manojsinghnegiwd",
            "url": "http://www.manojsinghnegi.com"
        }
      </script>
</head>
