{{ define "main" }}
  <section id="about">
    <p>
      <span>Javascript Developer</span>
      <br />
      <span>Co-founder - <a target="_blank" href="https://recraftrelic.com/">Recraft Relic</a></span>
      <br />
      <span>I write at <a target="_blank" href="https://medium.com/recraftrelic">Recraft blog</a>, <a target="_blank" href="/posts/">Writer's block</a></span>
      <br />
      <span>I code live every Saturday at 10:30AM IST on <a target="_blank" href="{{ .Site.Params.youtubeUrl | absURL}}">Youtube</a></span>
      <br />
      <a target="_blank" href="http://manojsinghnegi.com/Manoj_Singh_Negi_CV.pdf">My professional resume</span>
    </p>
  {{ if isset .Site.Params "social" }}
      <p>
      {{ $length := (len .Site.Params.social) }}
      {{ range $index, $elem := .Site.Params.social}}
        <a class="icon" target="_blank" rel="noopener" target="_blank" href="{{ $elem.link }}" style="color:{{ $elem.color}};">
          <i class="{{ lower $elem.icon }}"></i>
        </a>
      {{ end }}
      </p>
  {{ end }}
  </section>

  <section id="writing">
    <span class="h1"><a href="{{ .Site.Params.mainSection | absURL }}">Writer's Block</a></span>
    {{ if (and (and (isset .Site.Params "tagsoverview") (eq .Site.Params.tagsOverview true)) (gt (len .Site.Taxonomies.tags) 0)) }}
    <span class="h2">Topics</span>
    <span class="widget tagcloud">
      {{ $AllRegularPagesCount := len .Site.RegularPages }}
      {{ range $elem := .Site.Taxonomies.tags.Alphabetical }}
      <a style="font-size: {{ (add 0.4 (mul 1 (div (float $elem.Count) $AllRegularPagesCount))) }}rem;" href="{{ $elem.Page.Permalink }}">
        {{- .Page.Title -}}
      </a>
      {{ end }}
    </span>
    <span class="h2">Most recent</span>
    {{ end }}

    {{ $showAllPostsOnHomePage := false }}
    {{ if (isset .Site.Params "showallpostsonhomepage") }}
      {{ $showAllPostsOnHomePage = .Site.Params.ShowAllPostsOnHomePage }}
    {{ end }}
    {{ $dataFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
    {{ $mainPosts := (sort ( where site.RegularPages "Type" "in" site.Params.mainSections ) "Date" "desc") }}
    {{ if $showAllPostsOnHomePage }}
    <ul class="post-list">
      {{ range (.Paginate $mainPosts).Pages }}
        <li class="post-item">
          <div class="meta"><time datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format $dataFormat }}</time></div>
          <span><a href="{{ .Permalink }}">{{ if .Title }} {{- .Title -}} {{ else }} {{- print "Untitled" -}}{{ end }}</a></span>
        </li>
      {{ end }}
    </ul>

    {{ partial "pagination.html" . }}

    {{ else }}
    <ul class="post-list">
      {{ .Scratch.Set "count" 5 }}
      {{ if isset .Site.Params "postsonhomepage" }}
        {{ .Scratch.Set "count" .Site.Params.postsOnHomePage }}
      {{ end }}
      {{ range (first (.Scratch.Get "count") $mainPosts) }}
        <li class="post-item">
          <div class="meta"><time datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format $dataFormat }}</time></div>
          <span><a target="_blank" href="{{ .Permalink }}">{{ if .Title }} {{- .Title -}} {{ else }} {{- print "Untitled" -}}{{ end }}</a></span>
        </li>
      {{ end }}
    </ul>
    {{ end }}
  </section>

  <section id="projects">
    <span class="h1"><a target="_blank" href="{{ .Site.Params.youtubeUrl }}">Youtube videos</a></span>
    <ul class="project-list">
        {{ range .Site.Data.youtube.list }}
        <li class="project-item">
          {{ .date | markdownify }}: <a target="_blank" href="{{ .url }}">{{ .name }}</a> 
        </li>
        {{ end }}
    </ul>
  </section>

  <section id="projects">
    <span class="h1"><a target="_blank" href="{{ .Site.Params.mediumUrl }}">Tech articles</a></span>
    <ul class="project-list">
        {{ range .Site.Data.medium.list }}
        <li class="project-item">
          {{ .date | markdownify }}: <a target="_blank" href="{{ .url }}">{{ .name }}</a> 
        </li>
        {{ end }}
    </ul>
  </section>
{{ end }}
